/* html{
	display: block;
} */
body{
	font-family: 'Fira Code', monospace;
	width: 1440px;
	height: 10240px;
	background: white;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
section{
	overflow: hidden;
}

/* Основные характеристики текста */
.yellow-text{
	color: #FFC42D;
}
.pink-text{
	color: #FF8EB7;
}
.blue-text{
	color:#2288FF;
}
.green-text{
	color: #32C924;
}
.text-700{
	font-weight: 700;
}
.text-600{
	font-weight: 600;
}
.text-500{
	font-weight: 500;
}
.text-450{
	font-weight: 450;
}
.text-400{
	font-weight: 400;
}
.text-300{
	font-weight: 300;
}


/* Линии */
.blue-line{
	background-color: #2288FF;
	height: 80px;
	width: auto;
}
.green-line{
	background-color: #32C924;
	height: 80px;
	margin-bottom: 30px;
}
.pink-line{
	background-color: #FF8EB7;
	height: 80px;
	margin-bottom: 30px;
}

/* Заголовки */
h1{
	font-weight: 500;
	font-size: 70pt;
}
h2{
	font-size: 34pt;
	font-weight: 500;
	margin: auto;
}
h3{
	font-size: 34pt;
	font-weight: 400;
}
.blue-line h2{
	color: white;
	text-align: center;
	padding-top: 15px;
}
.green-line h2{
	color: #FFC42D;
	width: 2000px;
	padding-top: 15px;
}
.pink-line h2{
	color: #2288FF;
	width: 2000px;
	padding-top: 15px;
}
section:nth-of-type(1) div:nth-of-type(1){
	/* position: relative; */
	top: 330px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	margin-top: 20%;
}
section:nth-of-type(1) div:nth-of-type(2){
	margin-top: 400px;
	margin-bottom: 40px;
}
header{
	margin-bottom:50px;
}
.frame1 {
	background: url(../img/cans1.svg) no-repeat;
	height: 970px;
}
.frame2{
	display: flex;
	flex-direction: column;
}
section:nth-of-type(2) div:nth-of-type(1) h1{
	margin-left: 40px;
	width: 455px;
}
.canx3{
	background: url(../img/canx3.svg) no-repeat;
	width: 813px;
	height: 370px;
	padding-right: 50px;
	padding-top: 150px;
	margin-left: 570px;
	display: flex;
	flex-direction: column;
}
.blue-rect{
	background: #2288FF;
	border: #2288FF solid;
	border-width: 5px;
	height: 40px;
	width: 430px;
	margin-top: 50px;
	margin-left: 200px;
	padding-top: 15px;
}
.blue-frame{
	border: #2288FF solid;
	border-width: 5px;
	height: 40px;
	width: 430px;
	margin-left: 200px;
	margin-top: -5px;
	padding-top: 15px;
}
.blue-frame p{
	color: #2288FF;
	padding-left: 10px;
	line-height: 30px;
}
.blue-rect p{
	color: white;
	padding-left: 10px;
	line-height: 30px;
}
.blue-frame,
.blue-rect{
	font-weight: 450;
	font-size: 15pt;
}
.arrow{
	z-index: -1;
	position: absolute;
	height: 1048px;
}
.arrow img{
	width: 624px;
	height: 903px;
	margin-left: 820px;
}
.man1{
	background: url(../img/man1.svg) no-repeat;
	height: 480px;
	width: 487px;
	margin-left: 160px;
	margin-top: 30px;
}
.pink-block{
	background-color: #FF8EB7;
	width: 734px;
	height: 145px;
}
.about1{
	color: #2288FF;
	font-weight: 450;
	font-size: 15pt;
	width: 360px;
	margin-bottom: 10px;
}

/* 3 frame */
.frame3{
	height: 945px;
}

.green-block{
	z-index: -1;
	position: absolute;
	margin-left: 1095px;
	margin-top: -80px;
	background-color: #32C924;
	width: 345px;
	height: 1171px;
}
.blue-block{
	z-index: -1;
	position: absolute;
	margin-top: 880px;
	background-color:#2288FF;
	width: 583px;
	height: 616px;
}
.scheme{
	background: url(../img/scheme.svg) no-repeat;
	height: 592px;
	width: 600px;
	margin-left: 60px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
.scheme-text{
	font-weight: 500;
	font-size: 45pt;
	color: #FFC42D;
}
.o1{
	margin-left: 269px;
	margin-top: 55px;
}
.n1{
	margin-left: 470px;
	margin-top: 67px;
}
.n2{
	margin-top: -26px;
	margin-left: 176px;
}
.n3{
	margin-top: 105px;
	margin-left: 269px;
}
.o2{
	margin-top: -69px;
	margin-left: 90px;
}
.n4{
	margin-top: -90px;
	margin-left: 469px;
}
.chemistry{
	display: flex;
	flex-direction: row;
}
.text-weight{
	font-size: 30pt;
	margin-top: 160px;
	margin-left: 90px;
}
.numbers{
	font-size: 50pt;
	margin-top: 100px;
}
.under-chem{
	display: flex;
	flex-direction: row;
}
.cap1 img{
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: 100px;
	transform: rotate(180deg)
}

/* 4 фрейм */

.frame4{
	background: url(../img/lap.svg) no-repeat;
	width: 1440px;
	height: 2004px;
}
.frame4-top{
	display: flex;
	flex-direction: row;
}
.cap2{
	width: 400px;
	height: 400px;
	margin-left: 90px;
	margin-top: 45px;
}
.list{
	font-size: 20pt;
	margin-top: 290px;
	margin-left: 100px;
}
.flash2{
	margin-left: 910px;
	margin-top: -25px;
}
.man2{
	margin-top: -290px;
	margin-left: 20px;
	width: 517px;
	height: 754px;
}
.zhzh{
	font-size: 210pt;
	margin-top: -220px;
	margin-left: 403px;
	letter-spacing: 24px;
	opacity: 50%;
}
.frame4>.green-line{
	margin-top: 100px;
}

/* фрейм 5 */
.frame5{
	background: url(../img/grid.svg) no-repeat;
	display: flex;
	flex-direction: column;
	width: 1440px;
	height: 1100px;
}
.name{
	margin-top: 35px;
	margin-left: 80px;
}
.glyphs{
	font-size: 65pt;
	line-height: 81px;
	margin-top: 150px;
}
.flower{
	margin-left: 91px;
	margin-top: 1px;
}
.cross{
	margin-left: 943px;
}
.again{
	margin-left: 345px;
}
.heart{
	margin-left: 699px;
}
.romb{
	margin-left: 276px;
}
.note{
	margin-left: 108px;
}
.up{
	margin-left: 1291px;
}
.sun{
	margin-left: 782px;
	margin-top: -6px;
}
.snow{
	margin-left: 1192px;
	margin-top: -76px;
}


/* фрейм 6 */
.frame6{
	display: flex;
	flex-direction: column;
}
.frame6-bottom{
	background: url(../img/window.svg) no-repeat;
	width: 615px;
	height: 650px;
	margin-top: 50px;
	margin-left: 50px;
	display: flex;
	flex-direction: column;
}
.frame6-top>h1{
	text-align: end;
	padding-right: 80px;
}
.x,
.warning{
	font-size: 30pt;
}
.x{
	padding-top: 7px;
	margin-left: 578px;
}
.warning{
	width: 590px;
	margin-left: 30px;
	margin-top: 30px;
}
.big-a{
	font-size: 130pt;
	margin-top: 98px;
	margin-left: 255px;
}
.small-a{
	font-size: 110pt;
	margin-left: -80px;
}
.frame6>.blue-line>h2{
	width: 2000px;
	text-align: start;
}

/* фрейм 7 */
.frame7{
	display: flex;
	flex-direction: column;
}
.bold-battery{
	display: flex;
	flex-direction: row;
}

.bold1,
.bold2{
	font-size: 48pt;
}
.bold1>.text-700{
	margin-top: 20px;
	margin-left: 600px;
}
.bold1>.text-600{
	margin-top: 20px;
	margin-left: 400px;
}
.bold1>.text-500{
	margin-top: 20px;
	margin-left: 200px;
}
.bold2>.text-450{
	margin-top: 20px;
	margin-left: -300px;
}
.bold2>.text-400{
	margin-top: 20px;
	margin-left: -500px;
}
.bold2>.text-300{
	margin-top: 20px;
	margin-left: -700px;
}
.man-battery{
	background: url(../img/battery.svg) no-repeat;
	width: 422px;
	height: 426px;
}
.man3{
	margin-left: 170px;
}

.battery>.yellow-text{
	font-size: 20pt;
	transform: rotate(-90deg) skew(20deg);
	margin-right: 146px;
	margin-top: 38px;
}
.battery>.green-text{
	font-size: 20pt;
	transform: rotate(-90deg) skew(20deg);
	margin-left: 205px;
	margin-top: -12px;
}


/* фрейм 8 */
.frame8{
	background-color: #FF8EB7;
	height: 1024px;
	display: flex;
	flex-direction: row;
}
.machine{
	background: url(../img/drinkmachine.svg) no-repeat;
	height: 900px;
	width: 900px;
	font-size: 40pt;
	margin-top: 70px;
}
.machine>p{
	margin-top: 665px;
	margin-left:285px;
}
.details{
	display: flex;
	flex-direction: column;
	margin-top: 70px;
}
.details>.blue-text{
	text-align: center;
	padding-bottom: 10px;
}
.flash3{
	height: 504px;
	width: 345px;
	margin-left: 180px;
}
.ligatures{
	color: white;
	font-size: 30pt;
	width: 530px;
}

/* footer */
footer{
	background: url(../img/footer.svg) no-repeat;
	width: 100%;
	height: 747px;
	display: flex;
	flex-direction: column;
}
.credits{
	color: white;
	margin-top: 475px;
	margin-left: 900px;
}
.logo{
	width: 172px;
	height: 69px;
	margin-top: 11px;
	margin-left: 900px;
}